<div class="holder">
  <div class="container" id="container">
    <div class="form-container log-in-container">
      <form [formGroup]="dataForm">
        <h1 class="py-2">Register</h1>
        <input type="text" placeholder="Full Name" formControlName="name"
          [ngClass]="{'is-invalid': dataForm.get('name')?.touched || isSubmitted && dataForm.get('name')?.invalid}"
          required />
        <small class="invalid-feedback m-0 text-start">{{dataForm.get('name')?.invalid?'Full Name is
          Required':''}}</small>
        <input type="email" placeholder="Email" formControlName="email"
          [ngClass]="{'is-invalid': dataForm.get('email')?.touched || isSubmitted  && dataForm.get('email')?.invalid}"
          required />
        <small class="invalid-feedback m-0 text-start">{{dataForm.get('email')?.invalid?'Email is
          Required':''}}</small>
        <input type="password" placeholder="Password" formControlName="password"
          [ngClass]="{'is-invalid': dataForm.get('password')?.touched || isSubmitted  && dataForm.get('password')?.invalid}"
          required>
        <small class="invalid-feedback m-0 text-start">{{dataForm.get('password')?.invalid?'Password is
          Required':''}}</small>
        <input type="password" placeholder="Confirm Password" formControlName="confirmPassword"
          [ngClass]="{'is-invalid': dataForm.get('confirmPassword')?.touched || isSubmitted  && dataForm.get('confirmPassword')?.invalid}"
          required />
        <small class="invalid-feedback m-0 text-start">{{dataForm.get('confirmPassword')?.invalid?'Confirm Password is
          Required':''}}</small>
        <button class="mt-2" (click)="onRegister()">Register</button>
        <p>Have an account already? <a class="text-primary" href="javascript:void(0)" [routerLink]="['/login']">Login
            here.</a></p>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-right">
          <h1>Access the Dashboard</h1>
          <p>This is a sample text and can be replaced with an image.</p>
        </div>
      </div>
    </div>
  </div>
</div>