<div class="header  d-flex align-items-center px-3" id="header">
  <mat-icon aria-hidden="false" class="text-dark pointer" aria-label="Example home icon" (click)="onMenuClick()">menu
  </mat-icon>
  <div class="me-2 ms-auto">
    <div mat-button [matMenuTriggerFor]="menu">
      <mat-icon [svgIcon]="'heroicons_outline:user-circle'" class="profile-icon"></mat-icon>
    </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onLogout()">Logout</button>
    </mat-menu>
  </div>
</div>